# vim as default
export EDITOR="vim"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Prefer US English and use UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

# Set default install location
export HOMEBREW_CASK_OPTS="--appdir=/Applications"

# Force color in terminal
export CLICOLOR=1

# jEnv
export JENV_ROOT=/usr/local/var/jenv
if which jenv > /dev/null; then eval "$(jenv init -)"; fi

# fastlane
export PATH="$HOME/.fastlane/bin:$PATH"
