[include]
  name = Robert Tucker
  path = ~/.gitconfig.local
[core]
  excludesfile = ~/.gitignore
  longpaths = true
  autocrlf = input
[init]
  defaultBranch = main
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
  gpgsign = true
  template = /Users/robert/.stCommitMsg
[tag]
  gpgsign = true
[credential]
  helper = manager
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://bitbucket.saquad.zeta1-andromeda.guidewire.net"]
  provider = bitbucket
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
